// frontend/src/styles/main.scss
@use './variables';
@use './mixins';
@use './layout';
@use './components/header';
@use './components/hero';
@use './components/sections';
@use './components/interventions';
@use './components/form';
